[submodule "DS1820B_Simple_Read"]
	path = DS1820B_Simple_Read
	url = https://github.com/chriswininger/DS1820B_Simple_Read.git
[submodule "home-monitor-service-get-temp"]
	path = home-monitor-service-get-temp
	url = https://github.com/chriswininger/home-monitor-service-get-temp.git
[submodule "home-monitor-service-log-temp"]
	path = home-monitor-service-log-temp
	url = https://github.com/chriswininger/home-monitor-service-log-temp.git
[submodule "serial-monitor"]
	path = serial-monitor
	url = https://github.com/chriswininger/serial-monitor.git
[submodule "RF12RadioToSerial"]
	path = RF12RadioToSerial
	url = git@github.com:chriswininger/RF12RadioToSerial.git
[submodule "JeeNodeV6TemperatureBroadcasterDS1820B"]
	path = JeeNodeV6TemperatureBroadcasterDS1820B
	url = git@github.com:chriswininger/JeeNodeV6TemperatureBroadcasterDS1820B.git
